.btn--fg__white {
	color: var(--color-white);
}

.btn--fg__black {
	color: var(--color-black);
}

.btn--fg__grey {
	color: var(--color-light-grey);
}

.btn--fg__sky {
	color: var(--color-skyblue);
}

.btn--fg__blue {
	color: var(--color-dark-blue);
}

/********************************/

.btn--bg__white {
	background-color: var(--color-white);
}

.btn--bg__white:hover {
	transform: scale(1.04);
}

.btn--bg__black {
	background-color: var(--color-black);
}

.btn--bg__black:hover {
	background-color: var(--color-lighter-grey);
	transform: scale(1.04);
}

.btn--bg__green {
	background-color: var(--color-dark-green);
}

.btn--bg__green:hover {
	background-color: var(--color-light-green);
	transform: scale(1.04);
}

.btn--bg__outline__greyhover {
	background-color: var(--color-white);
	box-shadow: 0em 0em 0em 2px var(--color-dark-grey);
}

.btn--bg__outline__greyhover:hover {
	background-color: var(--color-dark-grey);
	transform: scale(1.04);
	color: var(--color-white);
}

.btn--bg__outline__grey {
	background-color: var(--color-white);
	box-shadow: 0em 0em 0em 2px var(--color-light-grey);
}

.btn--bg__outline__grey:hover {
	box-shadow: 0em 0em 0em 2px var(--color-black);
	color: var(--color-black);
}

/********************************/

.btn {
	line-height: 1;
	text-size-adjust: 100%;
	letter-spacing: 2px;
	border-radius: var(--spacing-custom-4);
	padding: var(--spacing-xmicro) var(--spacing-xreduced);
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	text-transform: uppercase;
	margin-bottom: var(--spacing-xtiny);
	transition: background-color 0.3s;
}

@media only screen and (max-width: 320px) {
	.btn {
		padding: var(--spacing-xmicro);
	}
}
