.home__main__banner {
	width: 100%;
	background-image: radial-gradient(ellipse at center, #f6cb6c 0%, #f3c65d 0%, #f2ae54 100%);
	height: 40em;
	overflow: hidden;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.home__tracks {
	flex-direction: column;
	margin: var(--spacing-xincreased) auto var(--spacing-xxgiant);
}

.home__albums__list {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin-top: var(--spacing-regular);
}

.home__albums__list__item {
	width: 33.33333%;
	height: 33.33333%;
	padding: var(--spacing-xatomic);
	transition: opacity 0.5s;
}

/****************** responsive handling *****************/

@media (max-width: 768px) {
	.home__main__banner {
		height: 25em;
		justify-content: flex-end;
	}

	.home__albums__list {
		width: 100%;
		display: flex;
		flex-flow: row;
		overflow: hidden;
		overflow-x: scroll;
		scroll-behavior: smooth;
	}

	.home__albums__list__item {
		display: inline-block;
		width: 24em;
	}
}

@media (max-width: 600px) {
	.home__albums__list__item {
		width: 10em;
	}
}
