.navbar-black {
	background-color: black;
}

.navbar-default {
	background-color: rgba(0, 0, 0, 0.6);
}

.navbar-transparent {
	background-color: transparent;
}

.navbar {
	left: 0;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	z-index: 1020;
	position: fixed;
	height: var(--navbar-height);
}

.navbar-container {
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	height: inherit;
}

/************************************/

.navbar-logo {
	height: var(--navbar-logo-height);
	display: block;
	align-self: center;
}

.navbar-logo-container {
	align-self: center;
}

.navbar-desktop-view {
	display: var(--navbar-desktop-view);
}

.navbar-links-list {
	display: inline-flex;
	margin: 0;
	padding: 0;
	height: fit-content;
}

.navbar-item {
	margin: auto 10px;
	height: fit-content;
}

.navbar-link-default-hover,
.navbar-link-black-hover {
	color: white;
	font-weight: 700;
	font-size: 16px;
}

.navbar-link-default-hover:hover {
	color: var(--default-hover-color);
	text-decoration: none;
}

.navbar-link-black-hover:hover {
	color: black;
	text-decoration: none;
}

/************************************/

.navbar-vertical-separator {
	display: inline-block;
	height: 16px;
	width: 1px;
	background: white;
	margin: 30px 17px;
}

.navbar-personal-photo {
	border-radius: 50px;
	height: var(--navbar-personal-photo-size);
	width: var(--navbar-personal-photo-size);
}

.navbar-button {
	background-color: transparent;
	border: none;
	display: flex;
	margin-left: 10px;
	align-items: center;
}

.navbar-button:focus {
	outline: none;
}

.navbar-button-text {
	padding: 15px;
	color: white;
	font-weight: 700;
	font-size: 16px;
}

.navbar-button-text:hover {
	color: var(--default-hover-color);
}

.navbar-dropdown-icon {
	margin-left: 0.5rem;
}

.navbar-dropdown-container {
	width: 160px;
	height: 82px;
	background-color: rgba(255, 255, 255);
	border-radius: 3px;
	text-align: left;
	position: absolute;
	top: 94%;
}

.navbar-dropdown {
	padding: 0;
}

.navbar-dropdown::before {
	content: "";
	height: 16px;
	width: 32px;
	position: absolute;
	right: 2px;
	top: -12px;
	border-bottom: 16px solid #fff;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
}

.navbar-dropdown-item {
	font-size: 14px;
	font-weight: 700;
	color: black;
	padding: 8px 12px;
}

.navbar-dropdown-link {
	color: black;
	font-size: 16px;
}

.navbar-dropdown-link:hover {
	color: var(--default-hover-color);
}

/************************************/

.navbar-mobile-view {
	display: var(--navbar-mobile-view);
	align-items: center;
}

/************************************************** media queries *************************************/

@media only screen and (max-width: 900px) {
	:root {
		--navbar-height: 54px;
		--navbar-logo-height: 27px;
		--navbar-mobile-view: flex;
		--navbar-desktop-view: none;

		--navbar-personal-photo-size: 34px;
	}

	.navbar-default,
	.navbar-transparent {
		background-color: black;
	}
}
