.plan {
	width: calc(var(--spacing-xxatomic) + (4 * var(--spacing-xincreased)));
	display: flex;
	flex-direction: column;
	margin: var(--spacing-micro);
	padding: var(--spacing-micro);
	border-radius: var(--spacing-xxatomic);
	box-shadow: var(--color-white) 0px var(--spacing-xatomic) 0px 0px, rgb(0 0 0 / 30%) 0px 0px var(--spacing-xatomic);
}

.plan__description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.plan__separator {
	border: 1px solid var(--color-off-white);
}

.plan__features {
	height: calc(var(--spacing-xincreased) * 3);
	display: flex;
	flex-direction: column;
	padding-top: var(--spacing-micro);
	align-items: flex-start;
}

.plan__terms {
	display: flex;
	align-items: flex-start;
	margin: var(--spacing-xatomic);
}
