.sidebar {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
	height: 100%;
	background-color: var(--color-black);
	color: var(--color-white);
	transition: 0.3s;
	overflow: auto;
}

.sidebar::-webkit-scrollbar {
	display: none;
}

.sidebar__active {
	width: var(--sidebar-width);
}

.sidebar__inactive {
	width: 0em;
}

.sidebar__content {
	margin-top: var(--navbar-height);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: var(--spacing-xxtiny);
}

/***********************************/

.sidebar__horizontalseparator {
	height: 0.125em;
	width: 2em;
	background-color: var(--color-white);
	margin: 0.625em 0 2.5em 0;
}

.sidebar__toggle {
	padding-left: 0.25em;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	color: var(--color-white);
	border-radius: 1px;
}

.sidebar__closeicon {
	position: absolute;
	right: var(--spacing-xmicro);
	top: var(--spacing-xxatomic);
}

.overlay {
	box-sizing: border-box;
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background: var(--color-threethirds-black);
	left: 0;
}

/************************************/

.sidebar__item {
	padding-bottom: var(--spacing-xxmicro);
	height: var(--spacing-xxreduced);
}

.sidebar__link {
	letter-spacing: 0px;
	color: var(--color-white);
}

.sidebar__link:hover {
	color: var(--color-light-green);
}

/************************************************** media queries *************************************/

@media only screen and (max-width: 500px) {
	:root {
		--sidebar-width: 100%;
	}
}

@media only screen and (min-width: 990px) {
	.overlay {
		display: none;
	}
}
