.sidebar-active {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1200;
	height: 100%;
	width: var(--sidebar-width);
	background-color: black;
	color: white;
	transition: 0.3s;
	overflow: auto;
}

.sidebar-active::-webkit-scrollbar {
	display: none;
}

.sidebar-inactive {
	width: 0px;
}

.sidebar-content {
	margin-top: var(--navbar-height);
}

/***********************************/

.horizontal-separator {
	height: 2px;
	width: 30px;
	background-color: white;
	margin: 10px 0 40px 0;
}

.sidebar-toggle {
	padding: 0px 0 0 20px;
	width: fit-content;
	height: fit-content;
	font-size: 30px;
	cursor: pointer;
	color: #fff;
	border-radius: 1px;
}

.sidebar-close-icon {
	position: absolute;
	right: 20px;
	top: 10px;
}

.overlay {
	box-sizing: border-box;
	display: block;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.75);
	left: 0;
}

/************************************/

.sidebar-item {
	padding-bottom: 25px;
	height: 61px;
}

.sidebar-link-lg {
	font-size: 36px;
	font-weight: 700;
}

.sidebar-link-md {
	font-size: 28px;
	font-weight: 400;
}

.sidebar-link {
	letter-spacing: 0px;
	color: white;
	line-height: 60px;
}

.sidebar-link:hover {
	color: var(--default-hover-color);
}

/************************************************** media queries *************************************/

@media only screen and (max-width: 500px) {
	:root {
		--sidebar-width: 100%;
	}
}

@media only screen and (min-width: 900px) {
	.overlay {
		display: none;
	}
}
