* {
	font-family: "Circular Spotify Tx T Black", "Cirular STD", "Circular Std Bold";
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
dd,
dl,
ul {
	margin: 0;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: unset;
}

a:hover {
	text-decoration: none;
}

/*************************/

.text--white {
	color: var(--color-white);
}

.text--black {
	color: var(--color-black);
}

.text--light-blue {
	color: var(--color-light-blue);
}

.text--bg-light-blue {
	background-color: var(--color-light-blue);
	border-radius: var(--spacing-atomic);
}

.text--bg-white {
	border-radius: var(--spacing-atomic);
	border: 1px solid var(--color-light-blue);
}

.text--xsuper {
	font-size: var(--text-size-xsuper);
	font-weight: var(--text-weight-heavy);
}

.text--super {
	font-size: var(--text-size-super);
	font-weight: var(--text-weight-heavy);
}

.text--xlarge {
	font-size: var(--text-size-xlarge);
	font-weight: var(--text-weight-heavy);
}

.text--large {
	font-size: var(--text-size-large);
	font-weight: var(--text-weight-heavy);
}

.text--xmedium {
	font-size: var(--text-size-xmedium);
	font-weight: var(--text-weight-heavy);
}

.text--medium {
	font-size: var(--text-size-medium);
	font-weight: var(--text-weight-heavy);
}

.text--xsmall {
	font-size: var(--text-size-xsmall);
	font-weight: var(--text-weight-heavy);
}

.text--small {
	font-size: var(--text-size-small);
	font-weight: var(--text-weight-heavy);
}

.text--xtiny {
	font-size: var(--text-size-xtiny);
	font-weight: var(--text-weight-light);
}

.text--mid__tiny {
	font-size: var(--text-size-mid-tiny);
	font-weight: var(--text-weight-heavy);
}

.text--tiny {
	font-size: var(--text-size-tiny);
	font-weight: var(--text-weight-light);
}

.container {
	display: flex;
	margin: auto 0px;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
	.container {
		width: var(--spacing-custom-3);
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 992px) {
	.container {
		width: var(--spacing-custom-2);
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 1200px) {
	.container {
		width: var(--spacing-custom-1);
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 980px) {
	.text--xsuper {
		font-size: var(--text-size-xlarge);
	}

	.text--xlarge {
		font-size: var(--text-size-xmedium);
	}

	.text--xmedium {
		font-size: var(--text-size-xsmall);
	}
}

@media (max-width: 760px) {
	.text--xsuper {
		font-size: var(--text-size-xmedium);
	}

	.text--xlarge {
		font-size: var(--text-size-xsmall);
	}

	.text--large {
		font-size: var(--text-size-small);
	}

	.text--xsmall {
		font-size: var(--text-size-small);
	}
}

@media (max-width: 480px) {
	.text--xsuper {
		font-size: var(--text-size-xsmall);
	}
}
