@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);
@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

* {
	font-family: "Circular Spotify Tx T Black", "Cirular STD", "Circular Std Bold";
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.text--white {
	color: var(--color-white);
}

.text--black {
	color: var(--color-black);
}

.text--xsuper {
	font-size: var(--text-size-xsuper);
	font-weight: var(--text-weight-heavy);
}

.text--super {
	font-size: var(--text-size-super);
	font-weight: var(--text-weight-heavy);
}

.text--xlarge {
	font-size: var(--text-size-xlarge);
	font-weight: var(--text-weight-heavy);
}

.text--large {
	font-size: var(--text-size-large);
	font-weight: var(--text-weight-heavy);
}

.text--xmedium {
	font-size: var(--text-size-xmedium);
	font-weight: var(--text-weight-heavy);
}

.text--medium {
	font-size: var(--text-size-medium);
	font-weight: var(--text-weight-heavy);
}

.text--xsmall {
	font-size: var(--text-size-xsmall);
	font-weight: var(--text-weight-heavy);
}

.text--small {
	font-size: var(--text-size-small);
	font-weight: var(--text-weight-heavy);
}

.text--xtiny {
	font-size: var(--text-size-xtiny);
	font-weight: var(--text-weight-light);
}

.text--tiny {
	font-size: var(--text-size-tiny);
	font-weight: var(--text-weight-light);
}

@media only screen and (max-width: 980px) {
	.text--xsuper {
		font-size: var(--text-size-xlarge);
	}

	.text--xlarge {
		font-size: var(--text-size-xmedium);
	}

	.text--xmedium {
		font-size: var(--text-size-xsmall);
	}
}

@media only screen and (max-width: 760px) {
	.text--xsuper {
		font-size: var(--text-size-xmedium);
	}

	.text--xlarge {
		font-size: var(--text-size-xsmall);
	}
}
