.banner {
	margin: auto auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.banner__list {
	display: flexbox;
	flex-direction: row;
}

.banner__list__item,
.banner__list__item--cst {
	font-size: var(--text-size-xtiny);
}

.banner__list__item--cst::after,
.banner__list__item::before {
	font-size: var(--text-size-small);
	content: "•";
	padding-left: var(--spacing-micro);
	padding-right: var(--spacing-micro);
	color: var(--color-dark-green);
}

.banner__item {
	padding-bottom: var(--spacing-xxmicro);
}

.banner__item--cst {
	position: relative;
	top: 12em;
	display: flex;
}

@media only screen and (max-width: 770px) {
	.banner__item--cst {
		top: var(--spacing-regular);
	}
}
