.banner {
	--banner-list-flex-direction: row;
	--banner-list-item-after: unset;

	margin: auto auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 100%;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.banner__list {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: var(--banner-list-flex-direction);
	align-items: center;
	justify-content: center;
	text-align: center;
}

.banner__list__item {
	text-align: center;
}

.banner__list__item:not(:last-child)::after {
	display: var(--banner-list-item-after);
	font-size: var(--text-size-small);
	content: "•";
	padding-left: var(--spacing-micro);
	padding-right: var(--spacing-micro);
	color: var(--color-dark-green);
}

.banner__item {
	padding-bottom: var(--spacing-xxmicro);
}

.banner__item--cst {
	display: block;
	margin-top: 10%;
}

@media (max-width: 770px) {
	.banner__item--cst {
		margin-bottom: -20%;
	}
}

@media (max-width: 500px) {
	.banner {
		--banner-list-flex-direction: column;
		--banner-list-item-after: none;
	}

	.banner__list__item {
		padding-bottom: var(--spacing-micro);
	}
}
